@{
    ViewBag.Title = "درخواست خودروی درجه دو" + ViewBag.Vin;
    //Layout = null;
}
@using QCManagement.Models
@model QccasttModels

<link href="~/Content/bootstrap-select.css" rel="stylesheet" />
<body>
    @using (Html.BeginForm("ReportShow2", "QCS", FormMethod.Post, new { @class = "form", role = "form" }))
    {
        <div class="row">
            <div class="col-md-12">
                <h6>شماره شاسی:</h6>
                @Html.EditorFor(model => model.Vin, new { htmlAttributes = new { id = "Vin", @class = "form-control", style = "text-align::center ;background-color:#BBDEFB" } })
            </div>
            <div class="col-md-6">
                <h6>تاریخ از:</h6>
                @Html.EditorFor(v => v.StartCreatedDate, new { htmlAttributes = new { @class = "form-control datepicker", style = "background-color:#BBDEFB" } })
            </div>

            <div class="col-md-6">
                <h6>تاریخ تا:</h6>
                @Html.EditorFor(v => v.EndCreatedDate, new { htmlAttributes = new { @class = "form-control datepicker", style = "background-color:#BBDEFB" } })
            </div>

            <div class="col-md-6">
                <h6>سالن:</h6>
                @Html.DropDownListFor(v => v.Sel_PCShopt_Srl, new MultiSelectList(@Model.Lstshop, "Srl", "ShopName"),
                new
                {
                    id = "cklShop",
                         title = "سالن های مورد نظر را انتخاب نمایید ",
                         multiple = "multiple",
                         data_live_search = "true",
                         @class = "selectpicker form-control",
                         data_style = "bg-gray rounded px-1 py-1 shadow-sm",
                         data_placeholder = "Choose a Property Group",
                         data_actions_box = "true"
                })
            </div>


            <div class="col-md-6">
                <h6>ناحیه:</h6>
                @Html.DropDownListFor(v => v.Sel_QCAREAT_Srl, new MultiSelectList(@Model.LstArea, "Srl", "AreaDesc"),
                new
                {
                    id = "cklArea",
                         title = "نواحی مورد نظر را انتخاب نمایید ",
                         multiple = "multiple",
                         data_live_search = "true",
                         @class = "selectpicker form-control",
                         data_style = "bg-gray rounded px-1 py-1 shadow-sm",
                         data_placeholder = "Choose a Property Group",
                         data_actions_box = "true"
                })
            </div>

            <div class="col-md-6">
                <h6>گروه خودرو</h6>
                @Html.DropDownListFor(v => v.Sel_GrpCode, new MultiSelectList(@Model.LstCarGroup, "GrpCode", "GrpName"),
                new
                {
                    id = "cklCarGroup",
                         title = "گروه خودروی مورد نظر را انتخاب نمایید ",
                         multiple = "multiple",
                         data_live_search = "true",
                         @class = "selectpicker form-control",
                         data_style = "bg-gray rounded px-1 py-1 shadow-sm",
                         data_placeholder = "Choose a Property Group",
                         data_actions_box = "true"
                })
            </div>

            <div class="col-md-6">
                <h6>مدل خودرو</h6>
                @Html.DropDownListFor(v => v.Sel_BdMdlCode, new MultiSelectList(@Model.LstBodyModel, "BdMdlCode", "CommonBodyModelName"),
                new
                {
                    id = "cklBodyModel",
                         title = "مدل بدنه ای مورد نظر را انتخاب نمایید ",
                         multiple = "multiple",
                         data_live_search = "true",
                         @class = "selectpicker form-control",
                         data_style = "bg-gray rounded px-1 py-1 shadow-sm",
                         data_placeholder = "Choose a Property Group",
                         data_actions_box = "true"
                })
            </div>

            <div class="col-md-6">
                <h6>شيفت تجاري خودرو</h6>
                @Html.DropDownListFor(v => v.Sel_JoinShift, new MultiSelectList(@Model.LstShift, "ShiftName", "ShiftName"),
               new
               {
                   id = "cklShift",
                        title = "شيفت تجاري مورد نظر را انتخاب نمایید ",
                        multiple = "multiple",
                        data_live_search = "true",
                        @class = "selectpicker form-control",
                        data_style = "bg-gray rounded px-1 py-1 shadow-sm",
                        data_placeholder = "Choose a Property Group",
                        data_actions_box = "true"
               })
            </div>

            <div class="col-md-6">
                <h6>شدت</h6>
                @Html.DropDownListFor(v => v.Sel_Qcstrgt_srl, new MultiSelectList(@Model.LstStrength, "Srl", "StrenghtDesc"),
                new
                {
                   id = "cklQCStrgt",
                        title = "شدت مورد نظر را انتخاب نمایید ",
                        multiple = "multiple",
                        data_live_search = "true",
                        @class = "selectpicker form-control",
                        data_style = "bg-gray rounded px-1 py-1 shadow-sm",
                        data_placeholder = "Choose a Property Group",
                        data_actions_box = "true"
                })
            </div>

            <div class="col-md-6">
                <h6>مدل فرعی خودرو</h6>
                @Html.DropDownListFor(v => v.Sel_BdstlCode, new MultiSelectList(@Model.LstBodyStyle, "BdstlCode", "AliasName"),
                new
                {
                   id = "cklBodyStyle",
                        title = "مدل فرعی مورد نظر را انتخاب نمایید ",
                        multiple = "multiple",
                        data_live_search = "true",
                        @class = "selectpicker form-control",
                        data_style = "bg-gray rounded px-1 py-1 shadow-sm",
                        data_placeholder = "Choose a Property Group",
                        data_actions_box = "true"
                })

            </div>
            @*<button id="BtnRun" name="BtnRun" type="submit" value="اجرای گزارش" class="Mybutton" style="color:black" />*@
        </div>
        <div class="row" style="padding:30px;font-family:vaziri-bold">

            <div class="col-md-6" align="center">
                <button id="BtnRun" type="submit" class="btn btn-outline-primary">اجرای گزارش</button>
            </div>
            <div class="col-md-6" align="center">
                <button id="BtnDisplay" type="button" class="btn btn-outline-primary">شناسنامه کیفی</button>
            </div>
        </div>

        <div>
            @* <table id="table1" class="table table-light table-bordered table-responsive-sm table-hover">*@
            <table id="table2" class="table table-striped table-bordered" width="100%">
                <thead style="font-family:vaziri;font-size:14px;text-align:center">
                    <tr>
                        @*<th>Id</th>*@
                        <th>شاسی</th>
                        <th>زمان</th>
                        <th>ناحیه</th>
                        <th>موقعیت</th>
                        <th>عیب</th>
                        <th>شدت</th>
                        <th>بازرس</th>
                    </tr>
                </thead>
                <tbody style="font-family: vaziri; font-size: 14px">
                    <tr>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>


        </div>
    }
</body>

<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.bootstrap4.min.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />


<script type="text/javascript">

    $(document).ready(function () {
        $(".datepicker").pDatepicker(
            {
                mounthPicker: { enabled: true },
                observer: true,
                initialValueType: 'persian',
                initialValueType: 'gregorian',
                format: 'YYYY/MM/DD',
                altField: '.observer-example-alt'
                , maxDate: '0'
                , autoClose: true
                ,toolbox: {
                    calendarSwitch: {
                        enabled: false
                    }
                }
                ,navigator: {
                    scroll: {
                        enabled: true
                    }
                }
            }
        );
    });

    $('.selectpicker').selectpicker(
        { selectAllText: 'همه', deselectAllText: 'لغو همه', doneButton: true, doneButtonText: 'تایید' });

    $('#BtnDisplay').on('click', function (e)
    {
        $('#table2').DataTable().clear().draw();
        //table.clear();
        var dataSet = [
            ["Tiger Nixon", "System Architect", "Edinburgh", "5421", "2011/04/25", "$320,800"],
            ["Garrett Winters", "Accountant", "Tokyo", "8422", "2011/07/25", "$170,750"],
        ];
        var _EnterVin = $('#Vin').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetJCarDef", "QCS")',
            data: { _Vin: _EnterVin }
        }).done(function (data) {
            var i = 0;
            var num_records = Object.keys(data).length;
            //alert(num_records);
                $("#table2").DataTable(
                    {
                        columnDefs:
                            [
                                {
                                    className: "dt-head-center", targets: [0, 1, 2, 3, 4, 5, 6],
                                    className: "dt-body-center", targets: [5]
                                }
                            ],
                        processing: true,
                        responsive:true,
                        dataType: "json",
                        bDestroy: true,
                        data: data,
                        columns: [
                            //{ sTitle: "ردیف", data: "Id"  },
                            { sTitle: "شاسی", data: "Vin" },
                            { sTitle: "زمان", data: "CreatedDateFa" },
                            { sTitle: "ناحیه", data: "AreaDesc" },
                            { sTitle: "موقعیت", data: "ModuleName" },
                            { sTitle: "عیب", data: "DefectDesc" },
                            { sTitle: "شدت", data: "StrenghtDesc" },
                            { sTitle: "بازرس", data: "CreatedByDesc" }
                        ], pageLength: 25,
                        language: {
                            search: '<a  style="font-family: vaziri-thin" >جستجو : </a>',
                            zeroRecords: 'موردی یافت نشد',
                            emptyTable: 'رکوردی یافت نشد',
                            loadingRecords: 'چند لحظه صبر کنید...',
                            info: "نمایش رکوردهای _START_ تا _END_ از مجموع _TOTAL_ رکورد",
                            lengthMenu: "تعداد رکورد نمایش در هر صفحه _MENU_ ",
                            paginate: {
                                next: 'بعدی', previous: 'قبلی'
                            },


                            //searchPlaceholder: 'کلمات مورد جستجوی خود را وارد نمایید'

                        }


                    });
            });
     });



    $('#cklShop').on('hide.bs.select', function (e) {
        var SelectedValues = $("#cklShop").val();
        //alert('cklShop_On_Done_Change: ' );
        @*var subItems = "";
        if (SelectedValues != "") {
            alert('cklShop_On_Done_Change: ' + @Model.PCShopt_Srl);
        }*@
            $('#cklArea').selectpicker('deselectAll');
            $("#cklArea option").remove(); // clear items
            $('#cklArea').selectpicker('refresh');
        $.ajax({
              type: "POST",
              url: '@Url.Action("GetArea", "QCS")',
            data: { QCAreatSrls: SelectedValues }
            })
            .done(function (data ) {
                $.each(data, function (index, item) {
                    $("#cklArea").append('<option value=' + item.Value + '>' + item.Text + '</option>').selectpicker('refresh');
                });
              });

        //---
    });

    $('#cklCarGroup').on('hide.bs.select', function () {
        var SelectedValues = $("#cklCarGroup").val();
        @*var subItems = "";
        if (SelectedValues != "") {
            alert('cklShop_On_Done_Change: ' + @Model.PCShopt_Srl);
        }*@
        $('#cklBodyModel').selectpicker('deselectAll');
        $("#cklBodyModel option").remove(); // clear items
        $('#cklBodyModel').selectpicker('refresh');
        $('#cklBodyStyle').selectpicker('deselectAll');
        $("#cklBodyStyle option").remove(); // clear items
        $('#cklBodyStyle').selectpicker('refresh');
        // --- load bodymodels
        $.ajax({
              type: "POST",
              url: '@Url.Action("GetBodyModel", "QCS")',
            data: { _GrpCode: SelectedValues }
            })
            .done(function (data ) {
                $.each(data, function (index, item) {
                    $("#cklBodyModel").append('<option value=' + item.Value + '>' + item.Text + '</option>').selectpicker('refresh');
                });
              });
        //--- load bodystyles
        $.ajax({
              type: "POST",
              url: '@Url.Action("GetBodyStyle", "QCS")',
            data: { _GrpCode: SelectedValues }
            })
            .done(function (data ) {
                $.each(data, function (index, item) {
                    $("#cklBodyStyle").append('<option value=' + item.Value + '>' + item.Text + '</option>').selectpicker('refresh');
                });
              });
    });

    $('#cklBodyModel').on('hide.bs.select', function () {
        var SelectedValuesGrpCode = $("#cklCarGroup").val();
        var SelectedValuesBdmdlCode = $("#cklBodyModel").val();
        $('#cklBodyStyle').selectpicker('deselectAll');
        $("#cklBodyStyle option").remove(); // clear items
        $('#cklBodyStyle').selectpicker('refresh');
        $.ajax({
              type: "POST",
              url: '@Url.Action("GetBodyStyle", "QCS")',
            data: { _GrpCode: SelectedValuesGrpCode, _BdmdlCode: SelectedValuesBdmdlCode }
            })
            .done(function (data ) {
                $.each(data, function (index, item) {
                    $("#cklBodyStyle").append('<option value=' + item.Value + '>' + item.Text + '</option>').selectpicker('refresh');
                });
              });
    });



</script>